.mainDiv {
	width: 98%;
	height: 98%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	display: block;
}

.header {
	width: 99.9%;
	height: 10%;
	/* background-color: white; */
	color: #33526E;
	border-bottom: 1px solid gray;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border: 0px solid #000000;
}

.mainBody {
	width: 98%;
	height: 70%;
	margin-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.footer {
	width: 98%;
	height: 15%;
	margin-left: 1%;
	padding-top: 1%;
	border: 1px solid black;
	color: white;
	background-color: #33526E;
}

.verticalMenuDiv {
	width: 70%;
	height: auto;
	margin-top: 3%;
	margin-left: 10%;
}

.menuItem {
	width: 90%;
	height: auto;
	border: 1px solid blue;
	margin: 2%;
	text-align: center;
	text-decoration: blink;
	font-family: cursive;
	font-size-adjust: inherit;
	font-weight: bolder;
	padding: 1%;
}